@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

#container {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #333;
  display: flex;
  flex-wrap: wrap;
  touch-action: none;
}

.dragMe {
  min-width: 100px;
  max-width: fit-content;
  border-radius: 10px;
  height: 100px;
  background-color: rgb(245, 230, 99);
  border: 10px solid rgb(245, 230, 99);
  touch-action: none;
  user-select: none;
  font-size: 80px;
  text-align: center;
  margin: 0;
}
.dragMe:active {
  border-color: rgba(168, 218, 220, 1);
}
.dragMe:hover {
  cursor: pointer;
}


@media screen and (max-width: 820px) { 
  /* beginning of media query */
      .dragMe{
        min-width: 50px;
        max-width: fit-content;
        height: 50px;
        font-size: 40px;
        border-radius: 5px;

      }
  /* end of media query */ 
  } 