@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

:root {
  --tile-size: 50px;
  --tile-radius: calc(var(--tile-size) * 0.14);
  --tile-font-size: var(--tile-size);
  --tile-line-height: calc(var(--tile-size) * 0.94);
  --mobile-tile-size: calc(var(--tile-size) * 0.5);
  --mobile-tile-radius: calc(var(--mobile-tile-size) * 0.14);
  --mobile-tile-font-size: var(--mobile-tile-size);
  --mobile-tile-line-height: calc(var(--mobile-tile-size) * 0.94);
  --menu-bar-height: 40px;
  --menu-bar-font-size: calc(var(--menu-bar-height) * 0.5);
  --tile-bar-height: 200px;
}

html {
  background-color: #333;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #333;
}

#topMenu {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: var(--menu-bar-height);
}

#Menu {
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr 100px;
  height: 100%;
  text-align: center;
}

#Menu button,
#Menu select {
  color: black;
  background-color: #f2f2e3;
  font-size: var(--menu-bar-font-size);
  border: 1px solid #333;
  border-radius: 3px;
}

form select {
  text-indent: 50%;
}

/*Tile colors*/
.FireBrickTile{
  background-color: firebrick;
  border-color: firebrick;
}
.DarkOrangeTile{
  background-color: darkorange;
  border-color: darkorange;
}
.GoldTile{
  background-color: gold;
  border-color: gold;
}
.SeaGreenTile{
  background-color: seagreen;
  border-color: seagreen;
}
.CornflowerBlueTile{
  background-color: cornflowerblue;
  border-color: cornflowerblue;
}

#tiles {
  position: absolute;
  top: calc(var(--menu-bar-height)+var(--tile-bar-height));
  right: 0px;
  bottom: 0px;
  left: 0px;
  touch-action: none;
}

.dragMe {
  min-width: var(--tile-size);
  max-width: fit-content;
  border-radius: var(--tile-radius);
  height: var(--tile-size);
  touch-action: none;
  user-select: none;
  font-size: var(--tile-font-size);
  text-align: center;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  line-height: var(--tile-line-height);
}
.dragMe:active {
  border-color: rgba(168, 218, 220, 1);
}
.dragMe:hover {
  cursor: pointer;
}

.hidden{
  display: none;
}

/*A big mess below*/



